<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pink_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{170,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,250}}</string>
                <key>sourceSize</key>
                <string>{174,250}</string>
            </dict>
            <key>pink_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{163,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,250}}</string>
                <key>sourceSize</key>
                <string>{163,250}</string>
            </dict>
            <key>pink_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{170,250}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{170,250}}</string>
                <key>sourceSize</key>
                <string>{174,250}</string>
            </dict>
            <key>pink_back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{163,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,250}}</string>
                <key>sourceSize</key>
                <string>{163,250}</string>
            </dict>
            <key>pink_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,250}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{176,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>pink_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{156,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,250}}</string>
                <key>sourceSize</key>
                <string>{156,250}</string>
            </dict>
            <key>pink_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{166,250}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>pink_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,2},{149,246}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,246}}</string>
                <key>sourceSize</key>
                <string>{149,250}</string>
            </dict>
            <key>pink_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{149,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,246}}</string>
                <key>sourceSize</key>
                <string>{149,250}</string>
            </dict>
            <key>pink_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,2},{149,246}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,246}}</string>
                <key>sourceSize</key>
                <string>{149,250}</string>
            </dict>
            <key>pink_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,2},{149,246}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,246}}</string>
                <key>sourceSize</key>
                <string>{149,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pink_princess.png</string>
            <key>size</key>
            <string>{1619,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1698c3285b85d43b9970054b97e96620:d85418a576e8307ba4e854e224f46e80:18612eb0b91fd16a0d4c4db53d6d08b9$</string>
            <key>textureFileName</key>
            <string>pink_princess.png</string>
        </dict>
    </dict>
</plist>
