<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,254},{154,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,250}}</string>
                <key>sourceSize</key>
                <string>{154,250}</string>
            </dict>
            <key>blue_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{173,250}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{173,250}}</string>
                <key>sourceSize</key>
                <string>{199,250}</string>
            </dict>
            <key>blue_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,254},{167,250}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{167,250}}</string>
                <key>sourceSize</key>
                <string>{199,250}</string>
            </dict>
            <key>blue_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{177,248}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{177,248}}</string>
                <key>sourceSize</key>
                <string>{199,250}</string>
            </dict>
            <key>blue_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,254},{163,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,250}}</string>
                <key>sourceSize</key>
                <string>{163,250}</string>
            </dict>
            <key>blue_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{163,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,250}}</string>
                <key>sourceSize</key>
                <string>{163,250}</string>
            </dict>
            <key>blue_tantrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{156,234}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{156,234}}</string>
                <key>sourceSize</key>
                <string>{174,250}</string>
            </dict>
            <key>green_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{148,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,250}}</string>
                <key>sourceSize</key>
                <string>{148,250}</string>
            </dict>
            <key>green_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,252},{167,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{167,248}}</string>
                <key>sourceSize</key>
                <string>{199,250}</string>
            </dict>
            <key>green_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,252},{165,248}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{165,248}}</string>
                <key>sourceSize</key>
                <string>{199,250}</string>
            </dict>
            <key>green_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{173,246}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{173,246}}</string>
                <key>sourceSize</key>
                <string>{199,250}</string>
            </dict>
            <key>green_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{159,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,250}}</string>
                <key>sourceSize</key>
                <string>{159,250}</string>
            </dict>
            <key>green_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,2},{161,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,250}}</string>
                <key>sourceSize</key>
                <string>{161,250}</string>
            </dict>
            <key>green_tantrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,177},{160,242}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{160,242}}</string>
                <key>sourceSize</key>
                <string>{174,250}</string>
            </dict>
            <key>pink_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,254},{163,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,250}}</string>
                <key>sourceSize</key>
                <string>{163,250}</string>
            </dict>
            <key>pink_front_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,250}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{176,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>pink_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,254},{156,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,250}}</string>
                <key>sourceSize</key>
                <string>{156,250}</string>
            </dict>
            <key>pink_front_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{166,250}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,250}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>pink_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{152,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,250}}</string>
                <key>sourceSize</key>
                <string>{152,250}</string>
            </dict>
            <key>pink_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,254},{152,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,250}}</string>
                <key>sourceSize</key>
                <string>{152,250}</string>
            </dict>
            <key>pink_tantrum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,339},{148,234}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{148,234}}</string>
                <key>sourceSize</key>
                <string>{174,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>princess.png</string>
            <key>size</key>
            <string>{1728,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d02462e3c40947cdf62f17ee814edc:93418a562a6f74c6415c8ae70768487e:9792bca3e66abcb4fda6a141f3c3d24f$</string>
            <key>textureFileName</key>
            <string>princess.png</string>
        </dict>
    </dict>
</plist>
