<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>F_Dance-1 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{688,64},{42,58}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-10 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{44,60}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-11 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{732,64},{42,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-12 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{642,64},{44,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-13 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{44,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-14 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{44,60}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-15 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{688,64},{42,58}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-16 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{44,60}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-2 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{44,60}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-3 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{642,64},{44,58}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{44,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-4 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{44,60}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-5 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{732,64},{42,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-6 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{44,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-7 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{732,64},{42,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-8 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{44,60}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Dance-9 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{732,64},{42,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_DressUp-1 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{48,60}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_DressUp-2 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,60}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_DressUp-3 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{52,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_DressUp-4 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{54,60}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_DressUp-5 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{52,60}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_DressUp-6 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{118,64},{52,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-1 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1430,2},{52,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{52,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-10 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-11 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-12 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-13 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-14 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{172,64},{52,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-15 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{952,64},{52,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-16 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1108,64},{56,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{56,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-2 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1204,64},{56,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{56,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-3 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{56,44}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{56,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-4 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1006,64},{56,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-5 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{908,64},{58,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{58,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-6 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{440,64},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{58,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-7 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1108,64},{56,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{56,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-8 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{952,64},{52,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{52,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Love-9 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{172,64},{52,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-1 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{226,64},{52,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-10 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{776,64},{42,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-11 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{820,64},{42,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-12 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-13 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-14 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-15 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1076,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-16 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-17 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-18 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1250,60},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-19 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-2 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{226,64},{52,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-20 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1294,60},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-21 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-22 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1338,60},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-23 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1158,64},{44,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{44,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-24 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1058,64},{48,56}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-25 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1426,60},{54,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{54,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-26 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-27 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-28 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{334,64},{58,52}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,52}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-29 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{28,12}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,43},{28,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-3 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{280,64},{52,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{52,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-30 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1474,32},{26,12}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,44},{26,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-31 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1482,60},{28,12}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,46},{28,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-32 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1482,90},{26,12}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,48},{26,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-4 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{388,64},{50,58}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{50,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-5 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{864,64},{42,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-6 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-7 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1382,60},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-8 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Magic-9 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2},{42,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{42,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Sleep-1 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Sleep-2 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Sleep-3 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{492,64},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Sleep-4 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{542,64},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Sleep-5 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{592,64},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-1 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{60,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-10 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-11 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-12 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-13 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-14 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-15 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-16 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-2 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{60,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-3 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{60,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-4 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{60,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-5 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{60,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-6 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{60,50}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-7 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-8 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>F_Tantrum-9 (dragged).tiff</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fox.png</string>
            <key>size</key>
            <string>{1500,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cf7d30a4ca8c855d090e72daacd0e49:5814eea00fcb0939d213bba4a6b655dc:fda327c0ccbcbf5dc3a8cf704399990a$</string>
            <key>textureFileName</key>
            <string>fox.png</string>
        </dict>
    </dict>
</plist>
